
.bg
{
    background-color: #BDBDE6;
    width: 200px;
    height: 100%;
}

.side
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: red;


}